@charset "UTF-8";
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
  /* 16px */ }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.transparent {
  opacity: 0; }

.hidden {
  display: none; }

.text--center {
  text-align: center; }

ul.bullet {
  list-style-type: initial;
  padding-left: 1.2em; }
  ul.bullet li {
    line-height: 1.4em; }

.links--social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto; }

.link--social {
  line-height: 1.6em;
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 0.1em 0.5em;
  transition: 0.5s all; }
  .link--social:hover {
    text-decoration: none;
    color: blue;
    background-color: #eef; }

.main {
  font-size: 1.375em;
  overflow-x: hidden; }

.main__sections {
  font-size: 2.1em; }
  @media (min-width: 640px) {
    .main__sections {
      font-size: 2.5em; } }

.main__section p {
  line-height: 1.2em;
  padding-bottom: 0.6em; }

.main__section:nth-child(1) .section__title {
  background-color: #003c6e; }

.main__section:nth-child(2) {
  background-color: #00326e; }

.main__section:nth-child(3) {
  background-color: #002864; }

.main__section:nth-child(4) {
  background-color: #001e5a; }

.main__section:nth-child(5) {
  background-color: #001450; }

.title {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin-right: -0.22em;
  padding-left: 0.1em;
  transition: all 0.5s;
  text-transform: uppercase;
  line-height: 1.2em; }
  .title:hover, .title.active {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.4); }

.section__title .title:nth-child(1):before {
  content: '˅';
  font-family: monospace;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 0.2em;
  width: 1em;
  height: 1em;
  text-align: center; }
  .section__title .title:nth-child(1):before .title:nth-child(1):hover,
  .section__title .title:nth-child(1):before .title:nth-child(1).active {
    text-shadow: none; }

.title--rulo {
  color: rgba(255, 255, 255, 0.5); }

.title--twitter {
  color: rgba(29, 161, 242, 0.8); }

.title--web {
  color: rgba(241, 221, 63, 0.8); }

.title--frontend {
  color: rgba(255, 255, 255, 0.8); }

.title--html {
  color: rgba(241, 101, 41, 0.6); }

.title--html5 {
  color: rgba(254, 52, 6, 0.8); }

.title--css {
  color: rgba(18, 151, 208, 0.6); }

.title--css3 {
  color: rgba(18, 157, 216, 0.8); }

.title--bootstrap {
  color: rgba(86, 59, 126, 0.6); }

.title--materialdesign {
  color: rgba(0, 131, 143, 0.6); }

.title--material {
  color: rgba(0, 188, 212, 0.6); }

.title--js {
  color: rgba(214, 186, 51, 0.6); }

.title--jquery {
  color: rgba(16, 104, 173, 0.6); }

.title--angular {
  color: rgba(195, 0, 47, 0.6); }

.title--react {
  color: rgba(0, 216, 255, 0.6); }

.title--vue {
  color: rgba(65, 184, 131, 0.6); }

.title--node {
  color: rgba(144, 197, 63, 0.6); }

.title--express {
  color: rgba(57, 71, 83, 0.6); }

.title--mean {
  color: rgba(146, 197, 76, 0.6); }

.title--php {
  color: rgba(90, 105, 166, 0.6); }

.title--wordpress {
  color: rgba(0, 167, 218, 0.6); }

.title--xamp {
  color: rgba(251, 122, 36, 0.6); }

.section__content {
  padding: 1em 0.5em;
  background-color: white;
  font-size: 1.6rem; }
  .section__content .fa:not(.no-icon) {
    color: #aaa; }
    .section__content .fa:not(.no-icon):hover {
      color: #000; }

.img--rulo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  transition: all 1s; }
  .img--rulo img {
    width: 100%; }
  .img--rulo:hover {
    transform: scale(1.1); }

.fx-scale:hover {
  transform: scale(1.1); }

.fx-scale.rotate90 {
  transform: rotate(90deg); }
  .fx-scale.rotate90:hover {
    transform: rotate(90deg) scale(1.1); }

footer {
  background-color: #000; }

.cover {
  display: block;
  height: 100px;
  padding-bottom: 50%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  background-repeat: no-repeat;
  background-position: center 250%;
  background-size: cover; }

.cover:hover {
  color: white; }

.cover .sign {
  position: absolute;
  left: 1em;
  bottom: 1em; }

.testimonials {
  margin-top: 2em; }

.testimonial {
  margin-bottom: 2em; }
  .testimonial .testimonial__photo {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    transition: all 1s; }
    .testimonial .testimonial__photo img {
      width: 100%; }
    .testimonial .testimonial__photo:hover {
      transform: scale(1.1); }
  .testimonial .testimonial__comment {
    font-size: 0.7em;
    font-style: italic;
    box-sizing: border-content;
    border-radius: 20px;
    background-color: #eef;
    padding: 2em;
    margin-top: 2em;
    position: relative;
    text-align: left;
    transition: opacity 0.5s;
    opacity: 0.6; }
    .testimonial .testimonial__comment:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      margin: 0 auto;
      top: -52px;
      border-bottom: 1.2em solid #eef;
      border-left: 2em solid transparent;
      border-right: 2em solid transparent; }
    .testimonial .testimonial__comment:hover {
      opacity: 1; }
  .testimonial .testimonial__name {
    text-align: right;
    font-style: normal;
    margin-top: 1em; }
    .testimonial .testimonial__name .name {
      font-size: 1.1em; }
    .testimonial .testimonial__name .position {
      font-size: 0.9em;
      margin-top: 0.5em; }

.parallax-window {
  min-height: 600px;
  background: transparent; }
